@import '../src/common/color.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background: $primary-color;
    color: white;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.spinner {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(to right, $font-secondary, $font-primary);
    animation: spin 0.5s linear infinite;

    &:after {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: $primary-color;
    }

    &:before {
        content: '';
        position: absolute;
        left: 5px;
        top: 5px;
        width: 50px;
        height: 50px;
        background-color: $primary-color;
        z-index: 10;
        border-radius: inherit;
    }
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}

@media (max-width: 480px) {
    .container {
        margin: 0 15px;
    }
}